[workshop]
localhost ansible_connection=local

[workshop:vars]
ocp_domain=GUID.open.redhat.com
ocp_apps_domain=apps.GUID.open.redhat.com
registry_io_username=Username
registry_io_password=Password!
usersno=20
threescale=true
apicurio=true
gogs=true
microcks=true
sso=true
backend=true
user_projects=true
configure_only=false
create_tenants=true
create_realms=true